<uib-tabset type="pills" style="margin-top:1rem!important;">
    <uib-tab index="0" heading="Clientes">
        <div class="row">
            <div class="col-md-12" dw-loading="clients">
                <h2>Clientes</h2>
                <table datatable="ng" dt-options="vmC.dtOptions" dt-column-defs="vmC.dtColumnDefs" class="table table-custom table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="fit">Código</th>
                            <th>Nombre</th>
                            <th class="fit">CUIT</th>
                            <th class="fit">Tipo</th>
                            <th class="not-sortable" style="width:275px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in clients">
                            <td>{{client.code}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.cuit}}</td>
                            <td>{{client.type}}</td>
                            <td>
                                <button class="btn btn-default" uib-tooltip="Editar" ng-click="editClient(client)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-default" uib-tooltip="Clonar" ng-click="cloneClient(client)"><i class="glyphicon glyphicon-duplicate"></i></button>
                                <button class="btn btn-warning" uib-tooltip="Eliminar" ng-click="removeClient(client)"><i class="glyphicon glyphicon-remove"></i></button>
                                <div class="btn-group pull-right" uib-dropdown>
                                    <button class="btn btn-primary" uib-tooltip="Más acciones..." uib-dropdown-toggle><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li class="disabled"><a href="">Factura Manual</a></li>
                                        <li><a href="" ng-click="regenTokens(client)">Regenerar Tickets de Acceso</a></li>
                                        <li><a href="" ng-click="genRSA(client)">Generar Solicitud de Certificado</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" ng-click="viewTransactions(client)">Ver Transacciones</a></li>
                                        <li><a href="" ng-click="lastCbte(client)">Ver Último Comprobante...</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Usuarios">
        <div class="row">
            <div class="col-md-12" dw-loading="users">
                <h2>Usuarios</h2>
                <table datatable="ng" dt-options="vmU.dtOptions" dt-column-defs="vmU.dtColumnDefs" class="table table-custom table-striped table-bordered table-hover">           
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="fit">Usuario</th>
                            <th class="fit">Administrador</th>
                            <th class="not-sortable" style="width:220px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td><div class="checkbox checkbox-primary"><input disabled type="checkbox" ng-model="user.admin"><label></label></div></td>
                            <td>
                                <button class="btn btn-default" uib-tooltip="Editar" ng-click="editUser(user)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-default" uib-tooltip="Permisos de Clientes" ng-click="userPermissions(user)"><i class="glyphicon glyphicon-wrench"></i></button>
                                <button class="btn btn-default" uib-tooltip="Restablecer Contraseña" ng-click="resetPassword(user)"><i class="glyphicon glyphicon-asterisk"></i></button>
                                <button class="btn btn-warning" uib-tooltip="Eliminar" ng-click="removeUser(user)"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
