<form id="clientForm" name="clientForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body" dw-loading="client">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="client.name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="razonSocial">Razón Social</label>
                    <input type="text" id="razonSocial" class="form-control" placeholder="Razón Social" required="" autofocus="" ng-model="client.razonSocial">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Email" required="" autofocus="" ng-model="client.email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cuit">CUIT</label>
                    <input type="text" id="code" class="form-control" placeholder="CUIT" required="" autofocus="" ng-model="client.cuit">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="type">Tipo de Certificación</label>
                    <select ng-options="type.Id as type.Desc for type in CertTipo" id="type" class="form-control" required="" autofocus="" ng-model="client.type">
                        <option value="" disabled selected>-- Seleccione --</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="code">Código</label>
                    <input type="text" id="code" class="form-control" placeholder="Código" required="" autofocus="" ng-model="client.code" ng-disabled="!isAdmin && client.code">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" dw-loading="uploadSigner">
                    <label for="signer">Certificado</label>
                    <button type="button" class="btn btn-short btn-primary form-control" ng-click="toggleSigner()">{{dndSigner?"Carga Manual":"Subir Certificado"}}</button>
                    <div uib-collapse="!dndSigner">
                        <!--                        <input type="file" nv-file-select="" uploader="uploader"/><br/>-->
                        <div nv-file-drop="" uploader="uploader">
                            <div nv-file-over="" uploader="uploader" class="well drop-zone">
                                <div>
                                    <span class="glyphicon glyphicon-cloud-upload gi-3x"></span>
                                    <p>Arrastre aquí el Certificado</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="dndSigner">
                        <textarea id="signer" class="form-control vresize monospace" rows="5" autofocus="" ng-model="client.signer"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="key">Key</label>
                    <textarea id="key" class="form-control vresize monospace" rows="5" autofocus="" ng-model="client.key"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="csr">CSR</label>
                    <textarea id="csr" class="form-control vresize monospace" rows="5" autofocus="" ng-model="client.csr"></textarea>
                    <div uib-collapse="!client.csr">
                        <button type="button" class="btn btn-short btn-primary form-control" ng-click="saveCSR(client)" ng-href="{{ fileCSR }}">Descargar CSR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="clientForm.$invalid" ng-click="$close(client)">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
    </div>
</form>