swagger: '2.0'
info:
  description: API de servicios REST para la utilización de los webservices de AFIP, en particular para Facturación Electrónica. Autenticación habilitada a través de Basic Auth, Authorization headers y User+pass en el body.
  version: 0.0.1
  title: AFIP API
  termsOfService: ''
  contact:
    email: mbustos@folderit.net
  license:
    name: ISC
    url: 'https://www.isc.org/downloads/software-support-policy/isc-license/'
host: wsfe.folderit.net
basePath: /api
consumes:
  - "application/json; charset=utf-8"
produces:
  - "application/json; charset=utf-8"
schemes:
  - https
tags:
  - name: Login
    description: Autorización y obtención de tokens
  - name: Status
    description: Chequeo de estado
  - name: WSFEv1
    description: Endpoints referentes al servicio WSFE de AFIP
  - name: Servicios
    description: Endpoints de servicios generales
paths:
  '/login':
    post:
      tags:
        - Login
      summary: Obtención de token de autenticación
      description: >-
        Se debe enviar un usuario y contraseña válidos. Si el usuario es administrador, contará con acceso a todos los clientes. Si no es administrador, sólo podrá realizar operaciones sobre los clientes que tenga habilitados.
      operationId: login
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "Datos de usuario a autenticar"
          required: true
          schema:
            $ref: "#/definitions/Usuario"
      responses:
        '200':
          $ref: '#/responses/Login'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '400':
          $ref: '#/responses/BadRequest'
        '500':
          $ref: '#/responses/InternalError'
  '/status':
    get:
      tags:
        - Status
      summary: Chequeo de estado de la API
      description: >-
        Este endpoint devolverá el estado actual de la API
      operationId: status
      produces:
        - application/json
      responses:
        '200':
          $ref: '#/responses/Status'
        '400':
          $ref: '#/responses/BadRequest'
        '500':
          $ref: '#/responses/InternalError'
  '/{codigo}/WSFEv1/FECAESolicitar':
    post:
      tags:
        - WSFEv1
      summary: Solicitud de CAE de un comprobante
      description: |
        Endpoint de solicitud/generación de CAE de un comprobante de un cliente. Se debe especificar el código único del cliente que realizará la operación, además de todos los parámetros requeridos.
        \
        \
        En caso de que ocurran errores de validaciones, los mismos se informarán en la respuesta del endpoint. También se informarán errores que genera AFIP, ya sea tanto sobre errores en datos, como errores de autorización (por ejemplo, si el cliente no está autorizado a realizar comprobantes letra A).
      operationId: generarCae
      produces:
        - application/json
      parameters:
        - name: codigo
          in: path
          description: "Código único del cliente"
          required: true
          type: string
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/Comprobante"
      responses:
          '200':
            $ref: '#/responses/RespuestaCAE'
          '401':
            $ref: '#/responses/Unauthorized'
          '403':
            $ref: '#/responses/Forbidden'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{codigo}/WSFEv1/FECompUltimoAutorizado':
    post:
      tags:
        - WSFEv1
      summary: Obtención del último comprobante autorizado
      description: |
        Este endpoint permite obtener el número del último comprobante autorizado por AFIP, cuyo CAE fue generado y asociado correctamente.
        \
        \
        AFIP lleva sus contadores de comprobantes considerando **punto de venta** y **tipo de comprobante**, por CUIT.
      operationId: lastCbte
      produces:
        - application/json
      parameters:
        - name: codigo
          in: path
          description: "Código único del cliente"
          required: true
          type: string
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/UltimoComprobante"
      responses:
          '200':
            $ref: '#/responses/RespuestaUltimoComprobante'
          '401':
            $ref: '#/responses/Unauthorized'
          '403':
            $ref: '#/responses/Forbidden'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{codigo}/{servicio}/{endpoint}':
    post:
      tags:
        - Servicios
      summary: Solicitud genérica a un servicio AFIP
      description: |
        POST genérico al endpoint de un servicio de AFIP. El servicio debe estar espeficado según la documentación de AFIP, y en el cuerpo del payload debe completarse tanto el código único del cliente (el cual emitirá la solicitud en representación) como los parámetros a enviar al endpoint AFIP.
        \
        \
        Se debe utilizar una estructura JSON en los parámetros a enviar, realizando una traducción de la especificación SOAP en formato XML directamente a JSON.
        \
        \
        Para más información respecto a inputs y outputs, se debe consultar la documentación AFIP pertinente o intentar interpretar los endpoints ofrecidos a través de la ruta /{servicio}/describe.
      operationId: genericEndpoint
      produces:
        - application/json
      parameters:
        - name: codigo
          in: path
          description: "Código único del cliente"
          required: true
          type: string
        - name: servicio
          in: path
          description: "Servicio AFIP a utilizar, ejemplo: wsfev1"
          required: true
          type: string
        - name: endpoint
          in: path
          description: "Endpoint del servicio AFIP a consultar, ejemplo: FECompConsultar"
          required: true
          type: string
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/Parametros"
      responses:
          '200':
            $ref: '#/responses/RespuestaEndpoint'
          '401':
            $ref: '#/responses/Unauthorized'
          '403':
            $ref: '#/responses/Forbidden'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{codigo}/{servicio}/describe':
    get:
      tags:
        - Servicios
      summary: Descripción de los endpoints ofrecidos por un servicio AFIP
      description: |
        Descripción detallada de inputs, formatos, ouputs (etc.) de la especificación SOAP de los endpoints ofrecidos por un servicio de AFIP.
        \
        \
        **ATENCIÓN**: el resultado de esta operación puede ser excesivamente grande, superando en casos los 100MB de datos.
      operationId: describeService
      produces:
        - application/json
      parameters:
        - name: codigo
          in: path
          description: "Código único del cliente"
          required: true
          type: string
        - name: servicio
          in: path
          description: "Servicio AFIP a utilizar, ejemplo: wsfev1"
          required: true
          type: string
      responses:
          '200':
            $ref: '#/responses/RespuestaDescribe'
          '401':
            $ref: '#/responses/Unauthorized'
          '403':
            $ref: '#/responses/Forbidden'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{codigo}/{servicio}/refresh/token':
    get:
      tags:
        - Servicios
      summary: Forzar la actualización del token de autorización para un servicio (WSAA)
      description: |
        A través de este endpoint se puede forzar la regeneración del token de acceso a un servicio AFIP. Este endpoint es especialmente útil si ocurre algún problema de expiración del mismo (error informado al realizar alguna operación con AFIP).
        \
        \
        Se debe tener en consideración que AFIP suele permitir generar un token por minuto (aprox.), por CUIT.
      operationId: refreshToken
      produces:
        - application/json
      parameters:
        - name: servicio
          in: path
          description: "Servicio AFIP a actualizar, ejemplo: wsfev1"
          required: true
          type: string
        - name: codigo
          in: path
          description: "Código único del cliente"
          required: true
          type: string
      responses:
          '200':
            $ref: '#/responses/TokenActualizado'
          '401':
            $ref: '#/responses/Unauthorized'
          '403':
            $ref: '#/responses/Forbidden'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
responses:
  Login:
    description: Login exitoso
    schema:
      title: "Login"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            token:
              type: string
              description: "El token debe enviarse en las propiedades de autenticación del header de todas las solicitudes"
  Status:
    description: Consulta de estado exitosa
    schema:
      title: "Status"
      allOf:
        - $ref: '#/definitions/Response'
  RespuestaEndpoint:
    description: Consulta exitosa
    schema:
      title: "RespuestaEndpoint"
      allOf:
        - $ref: '#/definitions/ResultEndpoint'
  RespuestaDescribe:
    description: Consulta exitosa
    schema:
      title: "RespuestaDescribe"
      allOf:
        - $ref: '#/definitions/ResultDescribe'
  RespuestaCAE:
    description: Consulta exitosa
    schema:
      title: "RespuestaCAE"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              $ref: '#/definitions/CAE'
  RespuestaUltimoComprobante:
    description: Consulta exitosa
    schema:
      title: "RespuestaUltimoComprobante"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              $ref: '#/definitions/NroComprobante'
  TokenActualizado:
    description: Consulta exitosa
    schema:
      title: "TokenActualizado"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              $ref: '#/definitions/TokenWSAA'
  BadRequest:
    description: "Solicitud inválida"
    schema:
      $ref: '#/definitions/BadRequest'
  Unauthorized:
    description: "Autenticación inválida"
    schema:
      $ref: '#/definitions/Error'
  Forbidden:
    description: "No tiene permisos suficientes"
    schema:
      $ref: '#/definitions/Error'
  InternalError:
    description: "Error interno del servidor"
    schema:
      $ref: '#/definitions/Error'
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
definitions:
  Response:
    type: object
    properties:
      result:
        type: boolean
        default: 'true'
        description: "Si la respuesta es satisfactoria, esta propiedad será true. De otra forma, será false."
  Error:
    type: object
    properties:
      result:
        type: boolean
        default: false
        description: "El valor siempre será falso"
      err:
        type: string
        description: "Mensaje descriptivo del error"
      errDetails:
        type: array
        items:
          type: string
        description: "En caso que ocurran múltiples errores (por ejemplo, errores suministrados por AFIP), los mismos se informarán como elementos de este arreglo"
  BadRequest:
    allOf:
    - $ref: "#/definitions/Error"
    - title: "BadRequest"
    - properties:
        validations:
          type: object
          properties:
            query:
              type: array
              description: "Errores de validación encontrados en la query string del request, generalmente en métodos GET"
              items:
                $ref: "#/definitions/Validation"
            body:
              type: array
              description: "Errores de validación encontrados en el body del request, generalmente en métodos POST"
              items:
                $ref: "#/definitions/Validation"
  Validation:
    type: object
    properties:
      property:
        type: string
        description: "Nombre del header con nombre de la propiedad"
      messages:
        type: array
        items:
              type: string
              description: "Mensaje descriptivo del error de validación"
  Usuario:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
  Parametros:
    type: object
    description: "Objeto con los parámetros a enviar al endpoint, según documentación del mismo"
  ResultEndpoint:
    type: object
    properties:
      ResultGet:
        type: object
        description: "Objeto con la respuesta del endpoint AFIP"
  ResultDescribe:
    type: object
    properties:
      ResultGet:
        type: object
        description: "Objeto con la respuesta del endpoint AFIP"
  CAE:
    type: object
    properties:
      CAE:
        type: string
        description: "Número de CAE proporcionado por AFIP"
      CAEFchVto:
        type: string
        description: "Fecha de vencimiento del CAE, en formato YYYYMMDD"
      CbteFch:
        type: string
        description: "Fecha del comprobante solicitado, en formato YYYYMMDD"
  Comprobante:
    type: object
    description: "Objeto de comprobante, utilizado para la solicitud de CAE"
    required: [ CbteTipo, PtoVta, CbteNro, CbteFch, DocNro ]
    properties:
      ImpNeto:
        type: number
        format: double
        default: 0
        description: "Importe neto total"
      ImpConc:
        type: number
        format: double
        default: 0
        description: "Importe total neto no gravado"
      ImpOpEx:
        type: number
        format: double
        default: 0
        description: "Importe total de operaciones exentas"
      ImpTrib:
        type: number
        format: double
        default: 0
        description: "Importe total de tributos. Si no se proporciona, se intentará calcular en base a los tributos informados."
      ImpIva:
        type: number
        format: double
        default: 0
        description: "Importe total de IVA"
      IdIVA:
        type: integer
        description: "ID de la alícuota de IVA utilizada, según tablas de AFIP. Si no se proporciona un ID, se intentará calcular en base al importe neto y el importe de IVA presentados."
      DocNro:
        type: string
        description: "Número de documento del cliente"
      PtoVta:
        type: integer
        description: "Punto de venta"
      DocTipo:
        type: integer
        default: 80
        description: "ID de tipo de documento del cliente, según tablas de AFIP"
      CbteNro:
        type: integer
        format: int64
        description: "Número de comprobante"
      CbteFch:
        type: string
        description: "Fecha del comprobante, en formato YYYYMMDD"
      Concepto:
        type: integer
        default: 2
        description: "ID del concepto del comprobante, según tablas de AFIP"
      CantReg:
        type: integer
        default: 1
        description: "Cantidad de comprobantes a informar"
      CbteTipo:
        type: integer
        description: "ID del tipo de comprobante, según tablas de AFIP"
      MonId:
        type: string
        default: "PES"
        description: "ID de la moneda de los importes del comprobante, según tablas de AFIP"
      MonCotiz:
        type: number
        format: double
        default: 1
        description: "Cotización de la moneda informada"
      Tributos:
        type: array
        items:
          $ref: "#/definitions/Tributo"
  Tributo:
    type: object
    required: [ Id, Alic ]
    properties:
      Id:
        type: integer
        description: "ID del tributo, según tablas de AFIP"
      Desc:
        type: string
        description: "Descripción del tributo"
      BaseImp:
        type: number
        format: double
        default: 0
        description: "Importe de la base imponible del tributo"
      Alic:
        type: number
        format: double
        description: "Alícuota (porcentaje) del tributo"
      Importe:
        type: number
        format: double
        default: 0
        description: "Importe del tributo"
  UltimoComprobante:
    type: object
    required: [ PtoVta, CbteTipo ]
    properties:
      PtoVta:
        type: integer
        description: "Punto de venta"
      CbteTipo:
        type: integer
        description: "ID del tipo de comprobante, según tablas de AFIP"
  NroComprobante:
    type: integer
    format: int64
    description: "Número de comprobante"
  Credenciales:
    type: object
    properties:
      sign:
        type: string
        description: "Firma generada por WSAA"
      token:
        type: string
        description: "String de token generada por WSAA"
  TokenWSAA:
    type: object
    properties:
      code:
        type: string
        description: "Código del cliente propietario del token"
      type:
        type: string
        enum: [ "PROD", "HOMO" ]
        description: "Tipo del token autorizado: producción u homologación"
      service:
        type: string
        description: "Servicio AFIP asociado al token"
      credentials:
        $ref: "#/definitions/Credenciales"
      since:
        type: string
        format: date
        description: "Fecha de solicitud del token"
      until:
        type: string
        format: date
        description: "Fecha de expiración del token"
